@{
    ViewData["Title"] = "GENDER WISE REPORT";
}
<h1>@ViewData["Title"]</h1>
<form method="POST" action="">
    <fieldset>
        <legend><b>Gender-wise Report</b></legend>

        <label> Fund List </label>

        <select name="fund_id_list" class="form-control" asp-items="@(new SelectList(@ViewBag.fundlists,"FundCode", "FundName"))">
        </select>

        <input type="text" id="datepickerFrom" name="start_date" value="" placeholder="From">
        <input type="text" id="datepickerTo" name="end_date" value="" placeholder="To">
        <input type="submit" name="gn_report" value="Search Report">


    </fieldset>
</form>
@if (Model != null)
{
    <fieldset>
        <legend>Gender-wise Report</legend>

        <p>
            <input id="pdf-btn" type="submit" value="Save as PDF" name="pdfbtn" onclick="generatePDF('report_block', '@ViewData["Title"]')">
        </p>

        <div id="report_block">
            <style>
                .rpt-Class {
                    border: 1px solid #000;
                    border-collapse: collapse;
                    width: 90%;
                    font-size: 13px;
                    border-spacing: 0;
                    border-collapse: collapse;
                }

                    .rpt-Class tr td {
                        padding: 2px 2px 2px 2px;
                    }

                #rpt-header {
                    font-size: 13px;
                    font-weight: bold;
                    text-align: left;
                    background-color: #CCC;
                }

                #rpt-sub-header {
                    height: 35px;
                    vertical-align: top;
                    font-weight: bold;
                }

                hr {
                    border: 0px solid #000;
                    height: 1px;
                    background-color: #000;
                    text-align: center;
                }

                #logo {
                    background-image: url("images/logo.png");
                    background-repeat: no-repeat;
                    background-position: center top;
                }

                .footer-pdf {
                    page-break-after: always;
                }
            </style>

            <table style="width:100%;" class="rpt-Class" cellspacing="0" border="1" align="center">
                <tbody>
                    <tr>
                        <td colspan="6" style="text-align:center;vertical-align:top;padding:0;">
                            <img src="images/logo.png" alt="BB Logo" width="65" height="65"><br>
                            <span style="font-size:18px; font-weight:bold">Bangladesh Bank</span><br>
                            <span style="font-weight:bold">SME &amp; Special Programs Department</span><br><br>
                            <span style="font-size:14px; font-weight:bold;text-decoration: underline;">Gender-wise Summary</span><br><br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" style="text-align:left;vertical-align:top;padding:0;">
                            Scheme: @ViewBag.fundName
                        </td>

                        <td colspan="2" style="text-align:right; vertical-align:top">

                            Date Interval: @ViewBag.startDate To @ViewBag.endDate
                        </td>

                        <td colspan="2" style="text-align:right; vertical-align:top">
                            Report Printing Date: @ViewBag.reportPrintDate
                        </td>

                        <td colspan="1" style="text-align:right; vertical-align:top">
                            (All amount in BDT)
                        </td>
                    </tr>
                    <tr style="font-weight:bold;background-color:#aaaaaa; text-align: center; ">

                        <td>SL No.						</td>
                        <td>Gender						</td>
                        <td>Total Disbursed Enterprise	</td>
                        <td>Total Disbursed Amount		</td>
                        <td>Total Approved Enterprise	</td>
                        <td>Total Approved Amount		</td>

                    </tr>
                    @{
                        int count = 0;
                        float TotalDisbEnterpriseF = 0;
                        float TotalDisbAmountF = 0;
                        float TotalApprEnterpriseF = 0;
                        float TotalApprAmountF = 0;

                        float TotalDisbEnterpriseM = 0;
                        float TotalDisbAmountM = 0;
                        float TotalApprEnterpriseM = 0;
                        float TotalApprAmountM = 0;

                        float GTotalDisbEnterprise = 0;
                        float GTotalDisbAmount = 0;
                        float GTotalApprEnterprise = 0;
                        float GTotalApprAmount = 0;
                    }
                    @foreach (var item in Model)
                    {
                        TotalDisbEnterpriseF = item.DisbursedFemaleEnterprise + TotalDisbEnterpriseF;
                        TotalDisbAmountF = item.DisbursedFemaleAmount + TotalDisbAmountF;
                        TotalApprEnterpriseF = item.ApprovedFemaleEnterprise + TotalApprEnterpriseF;
                        TotalApprAmountF = item.ApprovedFemaleAmount + TotalApprAmountF;

                        TotalDisbEnterpriseM = item.DisbursedMaleEnterprise + TotalDisbEnterpriseM;
                        TotalDisbAmountM = item.DisbursedMaleAmount + TotalDisbAmountM;
                        TotalApprEnterpriseM = item.ApprovedMaleEnterprise + TotalApprEnterpriseM;
                        TotalApprAmountM = item.ApprovedMaleAmount + TotalApprAmountM;

                        GTotalDisbEnterprise = TotalDisbEnterpriseF + TotalDisbEnterpriseM;
                        GTotalDisbAmount = TotalDisbAmountF + TotalDisbAmountM;
                        GTotalApprEnterprise = TotalApprEnterpriseF + TotalApprEnterpriseM;
                        GTotalApprAmount = TotalApprAmountF + TotalApprAmountM;

                        count++;
                    }
                        <tr style="text-align:  right;">
                            <td style="text-align:  center">
                                @count
                            </td>
                            <td style="text-align: center">Female</td>
                            <td>
                                @TotalDisbEnterpriseF
                            </td>
                            <td>
                                @TotalDisbAmountF
                            </td>
                            <td>
                                @TotalApprEnterpriseF
                            </td>
                            <td>
                                @TotalApprAmountF
                            </td>

                        </tr>
                        <tr style="text-align:  right;">
                            <td style="text-align:  center">
                                @count
                            </td>
                            <td style="text-align: center">Male</td>
                            <td>
                                @TotalDisbEnterpriseM
                            </td>
                            <td>
                                @TotalDisbAmountM
                            </td>
                            <td>
                                @TotalApprEnterpriseM
                            </td>
                            <td>
                                @TotalApprAmountM
                            </td>

                        </tr>
                    
                    <tr style="font-weight:bold; background-color:#CCCCCC; text-align: right; ">
                        <td colspan="2" style="text-align: left">Grand Total:</td>
                        <td> @GTotalDisbEnterprise</td>

                        <td>@GTotalDisbAmount</td>

                        <td> @GTotalApprEnterprise</td>

                        <td>@GTotalApprAmount</td>

                    </tr>
                </tbody>
            </table>
        </div>

    </fieldset>
}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#datepickerFrom").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd-M-y"
            });
            $("#datepickerTo").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd-M-y"
            });
        });


    </script>
}